<header>
    <nav>
      <a href="/">IssueIndex</a>
      <ul>
        <li><a href="/categories">Categories</a></li>
        <li><a href="/categories/new">Add Category</a></li>
        <li><a href="/issues">Issues</a></li>
        <li><a href="/issues/new">Add Issue</a></li>
      </ul>
    </nav>
</header>