<h2>Search Categories</h2>
<form action="/categories" method="GET">                                // points to categories index page/
  <label>Name</label>
  <input type="text" name="name">
  <button type="submit">Search</button>
</form>
