<h2>Search Categories</h2>
<form action="/categories" method="GET">    
  <label>Name</label>
  <input type="text" name="name">
  <button type="submit">Search</button>
</form>
<br>

<% categories.forEach( function(category) {  %>
  <div><%= category.name %></div>
<% }) %>

