<h2>Search Categories</h2>
<form action="/categories" method="GET">    
  <label>Name</label>
  <input type="text" name="name" value="<% searchOptions.name %>">
  <button type="submit">Search</button>
</form>
<br>

<% categories.forEach( function(category) {  %>
  <div><%= category.name %></div>
  <a href="/categories/<%= category.id %>">View</a>
  <a href="/categories/<%= category.id %>/edit">Edit</a>
  
<% }) %>

