<h2> <%= category.name %> </h2>                                                          // category name for the title
<a href="/categories/<%= category.id %>/edit">Edit</a>                                  // edit link -- route to categories/category id/edit
<%- include('../partials/deleteForm', {url: `/categories/${category.id}`}) %>           // use delete partial and include going back one folder (../) and add route to delee form file, and pass in url
