<h2> <%= category.name %> </h2>                     
<a href="/categories/<%= category.id %>/edit">Edit</a>      
<%- include('../partials/deleteForm', {url: `/categories/${category.id}`}) %>       

<% if (issuesByCategory.length > 0) { %>
  <h2>Issues by Category</h2>

<% } %> 