<h2> <%= category.name %> </h2>                               // category name for the title
<a href="/categories/<%= category.id %>/edit">Edit</a>           // edit link -- route to categories/category id/edit
