<h2>Search Issues</h2> 
<form action="/issues" method="GET"> 
  <div>
    <label>Title</label> 
    <input type="text" name="title" value="<% searchOptions.title %>"> 
  </div>
  <button type="submit">Search</button>
</form>
<br>
<div>
  <% issues.forEach( function(issue) {  %>
  <div><%= issue.name %></div>
  <% }) %>
</div>

